.skills{
    margin-top: 220px;
    align-items: flex-start!important;
    flex-direction: row;
}
.skills-text{
    margin-top: -7px;
}
.flexed{
    gap:10px;
    align-items: center;
    
}
/* .flex-column{
    display:flex!important;
    column-gap: 40px;
} */
.skill_icon{
    display: grid!important;
grid-template-columns: repeat(4,2fr);
grid-column-gap: 96px;
}


body{
    overflow-x: hidden;
}
@media (max-width:576px){
    .flexed{
        flex-direction: row;
    }
    .skill_icon{
        grid-template-columns: repeat(1,1fr);
        grid-column-gap:30px ;
    }
    .tools,.database{
        margin-top: 50px;
    }
    .framework{
        margin-top: 35px;
    }
}
@media (min-width:577px) and (max-width:820px){

    .skill_icon{
        grid-template-columns: repeat(3,2fr);
        grid-column-gap:30px ;
    }
    .database{
        margin-top: 50px;
    }
}
