.skills{
    margin-top: 90px;
}
.skills-text{
    font-weight: 800;
}
.skill_icon img{
     height: 150px;
     width: 75px;
}
.grid{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:10px;
    grid-row-gap: 60px;
    place-items: center;
}