.contact{
    margin-top: 90px;
}
.git{
    font-weight: 800;
}
.phone{
    width: 40px;
    height: 40px;
}
@media only screen and (max-width: 576px){
    .contact{
        margin-top: 50px;
    } 
    .contact_info,.form{
        padding:30px
    }
}