.contact{
    margin-top: 90px;
}
.git{
    font-weight: 800;
}
.phone{
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.contact_info{
    display:flex;
    column-gap:34px;
    align-items: center;

}
@media only screen and (max-width: 576px){
    .contact{
        margin-top: 50px;
        flex-direction: column;
    } 
    .contact_info{
        flex-direction: column;
    }
  
}