.aboutme{
    margin-top: 150px;
    
}
.aboutme_text{
    font-weight: 800;
}
.about_me{
    width: 550px;
    height: 550px;
}
.about_me_desc{
    margin-top: 180px;
}
@media only screen and (max-width: 576px){
    .aboutme{
        margin-top: 80px;
    }
    .about_me_desc{
        margin-top: 20px;
    }
    .about_me{
        width: 350px;
        height: 550px;
    }

}