body{
    width:100%
}
.aboutme{
    margin-top: 220px;
    
}

.about_me{
   
    height: 550px;
}

@media only screen and (max-width: 576px){
  .about{
    flex-direction: column;
  }

}
@media only screen and (min-width: 576px) and (max-width:992px){
    .about_me{
        width: 350px;
        height: 350px;
    }
    .about_me_desc{
        margin-top:32px;
    }
  }